@use '../abstracts' as *;

.body-content {
  padding-inline: 5.5rem;

  @include lg {
    padding-inline: 3rem;
  }

  @include sm {
    padding-inline: 2rem;
  }

  @include resp(400px) {
    padding-inline: 1rem;
  }
}

.header {
  width: 100%;

  .header-top {
    @include between;
    padding-block: 2rem;

    @include sm {
      justify-content: center;
      padding: 2rem;
    }
  }

  .header-top-logo {
    @include center-vertical();

    * {
      color: $secondary-black;
      font-size: 2.1rem;
    }

    @include sm {}
  }

  .header-top-menu {
    @include center-vertical(2rem);

  }

  .link {
    color: $primary-color;
    font-weight: 600;
    padding: 2rem 5rem;
    @include center-element(8px);

    @include resp(1110px) {
      display: none;
    }
  }

  .header-top-menu-item:nth-child(2) {
    .link {
      background-color: #E5F4F2;
      border-radius: $primary-radius;

      @include resp(1110px) {
        display: flex;
      }

      @include sm {
        display: none;
      }
    }
  }

  .header-top-menu-item:last-child {
    .link {
      gap: 8px;
      background-color: $primary-color;
      color: $white;
      border-radius: $primary-radius;
    }
  }

  .header-bottom {
<<<<<<< Updated upstream
    padding-inline: 5.5rem;
    @include between;
    margin-block: 12rem;
=======
    @include between;
    padding-block: 12rem;
>>>>>>> Stashed changes

    @include resp(1110px) {
      flex-direction: column;
      gap: 4rem;
      padding-block: 10rem;
      justify-content: stretch;
    }

    @include md {
      padding-block: 6rem;
    }
  }

  .header-bottom-content {
    max-width: 50%;
    width: 100%;

    @include resp(1110px) {
      text-align: center;
      max-width: 100%
    }

    .title {
      @include font(6.7rem, 700);
      line-height: 8.7rem;

      @include md {
        font-size: 3.8rem;
        line-height: 5rem;
      }
    }

    .para {
      margin-top: 2rem;
      color: $secondary-black;
      @include font(2.1rem, 400);
      line-height: 3.1rem;

      @include md {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }

  .buttons {
    @include center-vertical(1.8rem);
    margin-top: 4rem;

    @include resp(1110px) {
      justify-content: center;
    }

    .button {
      @include font(1.6rem, 700);
      padding: 2rem 5rem;
      border-radius: $primary-radius;
    }

    .button:first-child {
      @include center-vertical(8px);
      background-color: $primary-color;
      color: #fff;
    }

    .button:last-child {
      @include slow;
      color: $primary-color;
      border: 1px solid $primary-color;

      @include resp(1110px) {
        display: none;
      }
    }

    .button:last-child:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  .header-bottom-image {

    // flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tablet {
      display: none;
    }

    @include resp(1110px) {
      .tablet {
        display: block;
      }

      .desktop {
        display: none;
      }
    }
  }
}

// end of footer