<div class="pricing-card">
  <span class="pricing-card-level">{{ level }}</span>
  <h3 class="pricing-card-cost">
    <span class="number">${{ number }}</span>
    <span class="text">/month</span>
  </h3>
  <p class="pricing-card-desc">{{ desc }}</p>
  <p class="pricing-card-feature">
    <img src="../assets/icons/check.svg" alt="check" class="green" />
    <img src="../assets/icons/checkWhite.svg" alt="check" class="white" />
    <span class="text">Write feature details here</span>
  </p>
  <p class="pricing-card-feature">
    <img src="../assets/icons/check.svg" alt="check" class="green" />
    <img src="../assets/icons/checkWhite.svg" alt="check" class="white" />
    <span class="text">Write feature details here</span>
  </p>
  <p class="pricing-card-feature">
    <img src="../assets/icons/check.svg" alt="check" class="green" />
    <img src="../assets/icons/checkWhite.svg" alt="check" class="white" />
    <span class="text">Write feature details here</span>
  </p>
  <button class="pricing-card-btn">
    Get Started
    <img src="../assets/icons/arrowRight.svg" alt="arrow" />
  </button>
</div>
