<div class="team-card">
  <figure class="team-card-img">
    <img src="../assets/images/desktop/{{ img }}" alt="team" />
  </figure>
  <div class="team-card-info">
    <h3 class="team-card-name">{{ name }}</h3>
    <p class="team-card-position">{{ position }}</p>
  </div>
  <div class="team-card-socials">
    <img src="../assets/icons/twetter.svg" alt="socials" />
    <img src="../assets/icons/basketball.svg" alt="socials" />
    <img src="../assets/icons/instagram.svg" alt="socials" />
  </div>
</div>
