<div class="testi-card">
  <div class="testi-info">
    <figure class="testi-card-img">
      <img src="../assets/images/desktop/{{ img }}" alt="avt" />
    </figure>
    <h4 class="testi-card-name">{{ name }}</h4>
    <p class="testi-card-position">{{ position }}</p>
  </div>
  <div class="testi-more">
    <p class="testi-card-cmt">"{{ cmt }}"</p>
    <div class="stars">
      <img src="../assets/icons/starIcon_fill.svg" alt="star" />
      <img src="../assets/icons/starIcon_fill.svg" alt="star" />
      <img src="../assets/icons/starIcon_fill.svg" alt="star" />
      <img src="../assets/icons/starIcon_fill.svg" alt="star" />
      <img src="../assets/icons/starIcon_fill.svg" alt="star" />
    </div>
  </div>
</div>
