@use '../abstracts/' as *;

@font-face {
  font-family: 'Poppins';
  src:
    url("../assets/fonts/Poppins/Poppins-Regular.ttf") format('truetype');
  font-display: swap;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: 2rem;
  background-color: $body-bg;
}