$primary-color: #009379;
$primary-radius: 2rem;
$primary-black: #000;
$secondary-black: #2D2D2D;
$secondary-black-light: #4e4d4d;
$star-color: #F8D57E;
$neutral-color-light: #374151;
$neutral-color-dark: #111827;
$primary-font: 'Poppins', sans-serif;
$white: #fff;
$grey-border: #dbdbdb;
$metrics-card-border: #F2BFAF;
$icon-bg: #E5F4F2;
$box-shadow-color: #3366FF0D;
$primary-color-light: #E5F4F2;
$body-bg: #f8f9ff;