<header class="header">
  <div class="container">
    <!-- top of header -->
    <div class="header-top">
      <a href="javascript:void(0)" class="header-top-logo">
        <img src="../assets/icons/logo.svg" alt="logo" />
        <span><strong>Landing</strong>Page</span>
      </a>
      <nav>
        <ul class="header-top-menu">
          <li class="header-top-menu-item">
            <a href="javascript:void(0)" class="link">Contact</a>
          </li>
          <li class="header-top-menu-item">
            <a href="javascript:void(0)" class="link">How it works</a>
          </li>
          <li class="header-top-menu-item">
            <a href="javascript:void(0)" class="link">
              <img src="../assets/icons/rocketLaunch.svg" alt="rocket icon" />
              Get started
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- bottom of header -->
    <section class="header-bottom">
      <div class="header-bottom-content">
        <h1 class="title">Create Engaging Landing Pages</h1>
        <p class="para">
          Build beautiful landing pages in record time with
          <a href="https://www.animaapp.com/">Anima</a>’s Landing Page UI kit
          for Figma. No code required!
        </p>
        <div class="buttons">
          <a href="javascript:void(0)" class="button">
            <img src="../assets/icons/rocketLaunch.svg" alt="rocket icon" />
            Get started
          </a>
          <a href="javascript:void(0)" class="button"> How it works </a>
        </div>
      </div>
      <figure class="header-bottom-image">
        <img
          src="../assets/images/desktop/visuals_sectionhero.png"
          alt="phone"
          class="desktop"
        />
        <img
          src="../assets/images/tablet/visuals_sectionhero.png"
          alt="phone"
          class="tablet"
        />
      </figure>
    </section>
  </div>
</header>
