<main>
  <!-- logobar -->
  <section class="logobar">
    <div class="logobar-images">
      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/desktop/airbnb.png`, `../assets/images/desktop/google.png`, `../assets/images/desktop/amazone.png`, `../assets/images/desktop/microsoft.png`, `../assets/images/desktop/fedex.png`, `../assets/images/desktop/hubspot.png`]",
          "className": "desktop"
        }'
      >
      </include>

      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/tablet/airbnb.png`, `../assets/images/tablet/google.png`, `../assets/images/tablet/amazon.png`, `../assets/images/tablet/microsoft.png`, `../assets/images/tablet/fedex.png`, `../assets/images/tablet/hubspot.png`]",
          "className": "tablet"
        }'
      >
      </include>
    </div>
  </section>

  <!-- feature  -->
  <section class="feature">
    <div class="feature-wrapper">
      <h1 class="feature-title">Features</h1>
      <p class="feature-para">
        These are just a few features you'll get using Anima Landing Page Ui
        Kit.
      </p>
      <article class="feature-cards">
        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/magicWand_feature.svg",
            "title": "Fast building",
            "desc": "Tailor Animas Landing Page UI Kit to your unique style and brand with customisable components, in no time!"
          }'
        ></include>

        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/boundingBox_feature.svg",
            "title": "Responsive Design",
            "desc": "No need to worry about screen size. Anima s Landing Page UI Kit adapts to any screen size, from desktop to mobile."
          }'
        ></include>

        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/confetti_feature.svg",
            "title": "No Code Needed",
            "desc": "Zero coding skills required, Animas Landing Page UI Kit empowers you to create stunning landing pages with ease."
          }'
        ></include>
      </article>
    </div>
  </section>
</main>
