<main>
  <!-- logobar -->
  <section class="logobar">
    <div class="logobar-images">
      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/desktop/airbnb.png`, `../assets/images/desktop/google.png`, `../assets/images/desktop/amazone.png`, `../assets/images/desktop/microsoft.png`, `../assets/images/desktop/fedex.png`, `../assets/images/desktop/hubspot.png`]",
          "className": "desktop"
        }'
      >
      </include>

      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/tablet/airbnb.png`, `../assets/images/tablet/google.png`, `../assets/images/tablet/amazon.png`, `../assets/images/tablet/microsoft.png`, `../assets/images/tablet/fedex.png`, `../assets/images/tablet/hubspot.png`]",
          "className": "tablet"
        }'
      >
      </include>
    </div>
  </section>

  <!-- feature  -->
  <section class="feature"></section>
</main>
