<main>
  <!-- logobar -->
  <section class="logobar">
    <div class="logobar-images">
      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/desktop/airbnb.png`, `../assets/images/desktop/google.png`, `../assets/images/desktop/amazone.png`, `../assets/images/desktop/microsoft.png`, `../assets/images/desktop/fedex.png`, `../assets/images/desktop/hubspot.png`]",
          "className": "desktop"
        }'
      >
      </include>

      <include
        src="./components/logo.html"
        locals='{
          "list": "[`../assets/images/tablet/airbnb.png`, `../assets/images/tablet/google.png`, `../assets/images/tablet/amazon.png`, `../assets/images/tablet/microsoft.png`, `../assets/images/tablet/fedex.png`, `../assets/images/tablet/hubspot.png`]",
          "className": "tablet"
        }'
      >
      </include>
    </div>
  </section>

  <!-- feature  -->
  <section class="feature">
    <div class="feature-wrapper">
      <h1 class="feature-title">Features</h1>
      <p class="feature-para">
        These are just a few features you'll get using Anima Landing Page Ui
        Kit.
      </p>
      <article class="feature-cards">
        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/magicWand_feature.svg",
            "title": "Fast building",
            "desc": "Tailor Animas Landing Page UI Kit to your unique style and brand with customisable components, in no time!"
          }'
        ></include>

        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/boundingBox_feature.svg",
            "title": "Responsive Design",
            "desc": "No need to worry about screen size. Anima s Landing Page UI Kit adapts to any screen size, from desktop to mobile."
          }'
        ></include>

        <include
          src="./components/feature-cards.html"
          locals='{
            "path": "../assets/icons/confetti_feature.svg",
            "title": "No Code Needed",
            "desc": "Zero coding skills required, Animas Landing Page UI Kit empowers you to create stunning landing pages with ease."
          }'
        ></include>
      </article>
    </div>
  </section>

  <!-- Metrics -->
  <section class="metrics">
    <div class="metrics-wrapper">
      <h2 class="metrics-title">Our Metrics Tell the Story</h2>
      <p class="metrics-desc">
        Our metrics component gives you the inside scoop on your success and
        helps you stay on top of your game in style.
      </p>
      <!-- cards -->
      <article class="metrics-cards">
        <include
          src="./components/metrics-card.html"
          locals='{
          "number": "10k+",
          "label": "Website launched"
        }'
        ></include>

        <include
          src="./components/metrics-card.html"
          locals='{
          "number": "931k+",
          "label": "Projects created with Anima"
        }'
        ></include>
        <include
          src="./components/metrics-card.html"
          locals='{
          "number": "240k+",
          "label": "New users joined Anima"
        }'
        ></include>
        <include
          src="./components/metrics-card.html"
          locals='{
          "number": "12k+",
          "label": "Teams used Anima"
        }'
        ></include>
      </article>
    </div>
  </section>

  <!-- CTA 1 -->
  <section class="cta">
    <div class="cta-wrapper">
      <figure class="cta-image">
        <img
          src="../assets/images/desktop/visuals_CTA1.png"
          alt="cta"
          class="desktop"
        />
        <img
          src="../assets/images/tablet/visuals_CTA1.png"
          alt="cta"
          class="tablet"
        />
      </figure>
      <div class="cta-content">
        <h2 class="cta-title">Get Landing Page UI Kit Today!</h2>
        <p class="cta-desc">
          Break the Figma limits and explore the endless possibilities with
          Anima.
        </p>
        <button type="button" href="javascript:void(0)" class="cta-btn">
          <a href="javascript:void(0)">
            Get Started
            <img src="../assets/icons/arrowRightWhite.svg" alt="arrow" />
          </a>
        </button>
      </div>
    </div>
  </section>
</main>
