@use '../../abstracts' as *;

.cta {
  padding: 12rem 5.5rem;

  @include lg {
    padding: 10rem 3rem;
  }

  @include resp(400px) {
    padding: 10rem 2rem;
  }
}

.cta-wrapper {
  @include between;
  width: 100%;
  gap: 6rem;

  @include lg {
    gap: 2rem;
  }

  @include resp(745px) {
    flex-direction: column;
  }

  .cta-image {
    min-width: 32rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tablet {
      display: none;
    }

    @include lg {
      .tablet {
        display: block;
      }

      .desktop {
        display: none;
      }
    }

    @include resp(400px) {
      min-width: 0;
    }
  }

  .cta-content {

    .cta-title {
      @include font(5rem, 700);
    }

    .cta-desc {
      @include font(2.1rem, 400);
      margin-top: 2rem;
    }

    .cta-btn {
      border: none;
      margin-top: 4rem;
      padding: 0;
      border-radius: $primary-radius;
      overflow: hidden;

      a {
        color: $white;
        padding: 1.6rem 5rem;
        background-color: $primary-color;
        @include font(1.6rem, 600);
        @include center-vertical(5px);
      }

      img {
        display: inline-block;
      }
    }

    @include lg {
      .cta-title {
        font-size: 3.8rem;
        line-height: 5rem;
      }

      .cta-desc {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    @include resp(745px) {
      text-align: center;

      .cta-title {
        font-size: 2.8rem;
        line-height: 3.6rem;
      }
    }
  }
}

.cta2 {
  .cta-content {
    padding: 6rem;

    @include lg {
      padding: 4rem 3rem;
    }

    @include resp(400px) {
      padding: 2rem;
    }
  }
}

// end