@use '../../abstracts' as *;

.feature {
<<<<<<< Updated upstream
  background-color: 34px 29px 48px 0px $box-shadow-color;
  padding-inline: 5.5rem;

  @include lg {
    padding-inline: 3rem;
  }

  @include resp(400px) {
    padding-inline: 2rem;
=======
  padding-block: 12rem;

  @include lg {
    padding-block: 10rem;
  }

  @include resp(400px) {
    padding-block: 6rem;
>>>>>>> Stashed changes
  }
}

.feature-wrapper {
  margin-block: 12rem;
  @include center-vertical;
  flex-direction: column;

  @include lg {
    margin-block: 10rem;
  }

  @include sm {
    margin-block: 6rem;
  }

  .feature-title {
    @include font(3.8rem, 700);
  }

  .feature-para {
    @include font(1.6rem, 400);
    color: $secondary-black;
    margin-top: 2rem;

    @include lg {
      text-align: center;
      line-height: 2.4rem;
    }
  }
}

.feature-cards {
  @include grid(3, 3rem);
  margin-top: 6rem;

  @include lg {
    margin-top: 4rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  @include sm {
    margin-top: 3rem;
    gap: 3rem;
  }
}

.feature-card {
  padding: 4rem 3rem;
  text-align: center;
  box-shadow: 34px 29px 48px 0px $box-shadow-color;
  border-radius: $primary-radius;
  border: 1px solid $box-shadow-color;

  .feature-card-icon {
    padding: 2rem;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      inset: 0;
      position: absolute;
      background-color: currentColor;
      border-radius: $primary-radius;
      opacity: .2;
    }
  }

  .feature-card-title {
    @include font(2.8rem, 600);
    margin-top: 3rem;
  }

  .feature-card-desc {
    @include font(1.6rem, 400);
    color: $secondary-black;
    margin-top: 2.4rem;

    @include lg {
      line-height: 2.4rem;
    }
  }

  .feature-card-learn {
    @include center-element;
    @include font(1.6rem, 600);
    gap: 8px;
    color: $primary-color;
    margin-top: 3rem;
    cursor: pointer;
  }
}

.feature-card:first-child {
  .feature-card-icon {
    color: #FF6250;
  }
}

.feature-card:nth-child(2) {
  .feature-card-icon {
    color: #009379;
  }
}

.feature-card:last-child {
  .feature-card-icon {
    color: #F8D57E;
  }
}