@use '../../abstracts/' as *;

.team {
  padding-block: 12rem;

  @include lg {
    padding-block: 10rem;
  }

  @include sm {
    padding-block: 6rem;
  }
}

.team-wrapper {
  text-align: center;

  .team-title {
    @include font(3.8rem, 700);
  }

  .team-desc {
    @include font(1.6rem, 400);
    color: $secondary-black;
    margin-top: 2rem;
  }

  .team-cards {
    @include between;
    gap: 3rem;
    margin-top: 6rem;

    @include resp(680px) {
      flex-direction: column;
    }
  }

  .team-card {
    flex: 1;
    padding-bottom: 3rem;
    border-radius: $primary-radius;
    box-shadow: 34px 29px 48px 0px $box-shadow-color;
    overflow: hidden;
    cursor: pointer;
  }

  .team-card-img:hover {
    img {
      transform: scale(1.1)
    }
  }

  .team-card-img {
    @include slow;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }

    img {
      @include slow;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .team-card-info {
    padding-block: 2rem;
    border-bottom: 1px solid $grey-border;
  }

  .team-card-name {
    @include font(2.1rem, 600);
    line-height: 2.7rem;
  }

  .team-card-position {
    @include font(1.6rem, 400);
    color: $secondary-black;
    line-height: 2.5rem;
    margin-top: 5px;
  }

  .team-card-socials {
    @include center-element(1.6rem);
    margin-top: 2rem;

    img {
      cursor: pointer;
    }
  }

}

.bg {
  background-color: #F2BFAF;
  border-radius: $primary-radius;
}

// end